{ct_extra_params, "-event_handler ct_refresh_events"}.

{deps, [
    {jsx,              "",   {git, "https://github.com/talentdeficit/jsx.git",        {tag, "v2.0.4"}}},
    {lhttpc,           ".*", {git, "https://github.com/darach/lhttpc.git",            {tag, "de_maint_1.3.0"}}},
    {websocket_client, ".*", {git, "git://github.com/sanmiguel/websocket_client.git", {tag, "0.8.2"}}}
]}.
